<div class="col-xs-12 col-sm-8 col-md-9 content-column">
  <div class="small-navbar visible-xs">
    <button type="button" data-toggle="offcanvas" class="btn btn-ghost pull-left"> <i class="fa fa-align-left"> </i>Menu</button>
    <h1 class="small-navbar-heading">
       <a href="index.html">{{ _is.info.titulo }} </a>
     </h1>
  </div>
  <div class="grid">
  <!--    <div *ngFor="let p of _is.paginas" class="col-xs-12 col-sm-6 col-md-4 col-lg-3 masonry-item">
        <div class="box-masonry">
          <a href="detail.html" title="" class="box-masonry-image with-hover-overlay">
            <img src="assets/img/portfolio/a4-paper.jpg" alt="" class="img-responsive">
          </a>
          <div class="box-masonry-hover-text-header">
            <h4>
              <a href="detail.html">Name of the work 1</a>
            </h4>
            <div class="box-masonry-desription">
              <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life. One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar. </p>
            </div>
          </div>
        </div>
      </div>-->
      <div *ngFor="let p of _is.paginas" class="col-xs-12 col-sm-6 col-md-4 col-lg-3 masonry-item">
        <div class="box-masonry">
          <a [href]="p.url" title="" class="box-masonry-image with-hover-overlay">
            <img src="assets/img/portfolio/{{ p.imagen }}" alt="" class="img-responsive">
          </a>
          <div class="box-masonry-text">
            <h4>
               <a [href]="p.url">{{ p.nombre }}</a>
             </h4>
            <div class="box-masonry-desription">
              <p>{{ p.nombre }}</p>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
