<div class="col-xs-12 col-sm-8 col-md-9 content-column">
    <div class="small-navbar visible-xs">
        <button type="button" data-toggle="offcanvas" class="btn btn-ghost pull-left"><i class="fa fa-align-left"> </i>Menu</button>
        <h1 class="small-navbar-heading">
            <a href="index.html">{{ _is.info.titulo }} </a>
        </h1>
    </div>
    <div class="grid">
        <div *ngFor="let p of _is.paginas" class="col-xs-12 col-sm-6 col-md-4 col-lg-3 masonry-item">
            <div *ngFor="let i of items | async">
                <div class="box-masonry" *ngIf="i.nombre === p.imagen">
                    <a [href]="p.url" title="" class="box-masonry-image with-hover-overlay">
                        <img [src]="i.url" alt="" class="img-responsive">
                    </a>
                    <div class="box-masonry-text">
                        <h4>
                            <a [href]="p.url">{{ p.nombre }}</a>
                        </h4>
                        <div class="box-masonry-desription">
                            <p>{{ p.descripcion }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>