<div class="col-xs-12 col-sm-8 col-md-9 content-column white-background">
    <div class="row">
        <div class="col-lg-5">
            <div class="content-column-content">
                <h3>Seleccione archivos</h3>
                <div appNgDropFiles [archivos]="archivos" (mouseSobre)="sobreDrop = $event" [ngClass]="{'file-over': sobreDrop}" class="well drop-zone">
                    <h4>Arrastre las imagenes aquí!</h4>
                    <img src="assets\drop-images.png" alt="">
                </div>
            </div>
        </div>
        <div class="col-lg-7">
            <div class="content-column-content">
                <h4>Cargar archivos</h4>
                <button (click)="cargarImagenes()" [disabled]="archivos.length === 0" class="btn btn-primary"><i class="fas fa-upload"></i> Cargar a firebase</button>
                <button (click)="limpiar()" class="btn btn-warning"><i class="fas fa-broom"></i> Limpiar</button>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Tamaño</th>
                            <th>Progreso</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let a of archivos">
                            <td [ngClass]="{'text-success': a.progreso >= 100}">{{ a.nombreArchivo }}</td>
                            <td>{{ a.archivo.size / 1024 /1024 | number:'.2-2' }} MB</td>
                            <td>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-striped" role="progressbar" [ngStyle]="{'width': a.progreso+'%'}"></div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>