/* You can add global styles to this file, and also import other style files */
.text-dark{
  color: #383838;
}

.text-dark:hover{
  color: #000;
}

.text-primary:hover{
  color: #428bca;
}

.text-primary{
  color: #4fabf9;
}
